[Unit]
Description=gunicorn socket

[Socket]
ListenStream=/run/gunicorn.sock

SocketUser=www-data
SocketGroup=www-data
SocketMode=0660

[Install]
WantedBy=sockets.target

